Update section 5.3 to include Policy Certification Authorities as an exception to the mandatory EKU inclusion requirement

Section 5.3 includes a requirement to include a non-anyExtendedKeyUsage EKU at all intermediate certificates and not mix the serverAuth and emailProtection EKUs, with the exception of cross-certificates. This allows a separation of the WebPKI and the smime world and introduces more clear boundaries that help increase the security of the ecosystem. However, with the current wording, all Policy Certification Authorities are under the same rules. Even if it is not that clear, according to RFC5280 section 3.2, PCAs exist for the sole purpose of issuing CAs and applying specific policies at that subtree of the hierarchy. Only CAs at the third or a higher level are used for issuing certificates for end-entities. Thus, not including an EKU at PCAs will not affect the aforementioned security boundaries, since these will exist at the issuing CAs.

Based on the above, my suggestion is to change section 5.3 from:

> Intermediate certificates created after January 1, 2019, with the exception of cross-certificates that share a private key with a corresponding root certificate: MUST contain an EKU extension; and, MUST NOT include the anyExtendedKeyUsage KeyPurposeId; and, * MUST NOT include both the id-kp-serverAuth and id-kp-emailProtection KeyPurposeIds in the same certificate.

to:

> Intermediate certificates created after January 1, 2019, with the exception of cross-certificates that share a private key with a corresponding root certificate **and intermediate certificates used for the sole purpose of issuing other intermediate or infrastructure certificates**: MUST contain an EKU extension; and, MUST NOT include the anyExtendedKeyUsage KeyPurposeId; and, * MUST NOT include both the id-kp-serverAuth and id-kp-emailProtection KeyPurposeIds in the same certificate.

Decided not to accept this proposal - https://groups.google.com/d/msg/mozilla.dev.security.policy/cOVfuaZwkeI/iI_PTQ5dCQAJ