Require Byte-for-byte Identical Issuer and Subject Distinguished Names 

The CA/Browser Forum is currently discussing the draft "Browser Alignment" ballot (https://github.com/sleevi/cabforum-docs/pull/10) which includes adding the following text. We should consider also updating Mozilla's Root Store Policy to be clear about this.

May be added to section 7.1.4.1 of the BRs:
“The encoded content of the Issuer Distinguished Name field of a Certificate SHALL be byte-for-byte identical with the encoded form of the Subject Distinguished Name field of the Issuing CA certificate.”
And
“The encoded content of the Subject Distinguished Name field of a Certificate SHALL be byte-for-byte identical among all Certificates whose Subject Distinguished Name can be compared as equal according to RFC 5280, Section 7.1.” 

This has also come up before in Bugzilla Bugs, such as https://bugzilla.mozilla.org/show_bug.cgi?id=1625527#c15
"Normalizing strings for cert matching leads to all kinds of unintended consequences, some of which have security and availability implications - like selecting lookalike certificates during pathbuilding.
Ultimately, the Web PKI relies upon binary matching for X500 Name fields..."

CA/B Forum discussion found here - https://cabforum.org/pipermail/servercert-wg/2020-May/001900.html 

Since version 1.7.1 of the Baseline Requirements was adopted, I'd prefer that we close this issue.  
See https://cabforum.org/wp-content/uploads/CA-Browser-Forum-BR-1.7.1-redlined.pdf

Section 7.1.4.1 of the BRs now says, 
Effective 2020-09-30, the following requirements SHOULD be met by all newly-issued Subordinate CA Certificates that are not used to issue TLS certificates, as defined in Section 7.1.2.2, and MUST be met for all other Certificates, regardless of whether the Certificate is a CA Certificate or a Subscriber Certificate.
For every valid Certification Path (as defined by RFC 5280, Section 6):
• For each Certificate in the Certification Path, the encoded content of the Issuer Distinguished Name field of a Certificate SHALL be byte-for-byte identical with the encoded form of the Subject Distinguished Name field of the Issuing CA certificate.
• For each CA Certificate in the Certification Path, the encoded content of the Subject Distinguished Name field of a Certificate SHALL be byte-for-byte identical among all Certificates whose Subject Distinguished Names can be compared as equal according to RFC 5280, Section 7.1, and including expired and revoked Certificates.

Otherwise, we could amend MRSP section 5.2 Forbidden and Required Practices to include the above text, or instead we could add a short parenthetical in that section 5.2 after "CAs MUST NOT issue certificates that have: ASN.1 DER encoding errors;"  (e.g. see BR 7.1.4.1)
